<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Admins panel</title>
</head>
<body>
<table class="table table-striped">All users
    <thead class="thead-light">
    <tr th:colspan="5">
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:colspan="5" th:each="us: ${user}" >
        <td th:text="${us.getId()}"/>
        <td th:text="${us.getFirstName()}"/>
        <td th:text="${us.getLastName()}"/>
        <td th:text="${us.getAge()}"/>
        <td th:text="${us.getUsername()}"/>
        <td th:text="${us.getRolesAtString()}"/>
        <td>
            <form th:action="@{/admin/updateUser/{id}(id=${us.getId()})}" th:method="get">
                <input class="button button-block" type="submit" value="Update user"/>
            </form>
        </td>


    <td>
        <form th:action="@{/admin/delete/{id}(id=${us.id})}" th:method="get">
            <button type="submit" class="btn btn-danger">Delete
            </button>
        </form>
    </td>


    </tr></tr>
    </tbody>
</table>
<br><br>

<form th:action="@{/admin/add}" th:method="get">
    <input class="button button-block" type="submit" value="Add new user"/>
</form>
<br>
<br>
<br>
<br>
<form th:action="@{/admin/logout}" th:method="get">
    <input class="button button-block" type="submit" value="Logout"/>
</form>
<br>
<br>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>