<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:option="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>
<div class="container-fluid">
    <div class="row bg-dark text-white">
        <div class="col-lg-11">
            <p><span th:text="${userGet.username}"> with roles: </span>
                with roles:
                <span th:text="${userGet.getRolesAtString()}"></span></p>
            <!--            <p th:utext="${user.username}"> with roles: </p>-->
        </div>
        <div class="col-lg-1">
            <a th:href="@{/admin/logout}" class="stretched-link text-light">Logout</a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3" style="background-color: white">
            <div class="bg-primary">
                <a th:href="@{/admin}" class="stretched-link text-light">Admin</a>
            </div>
            <div>
                <a th:href="@{/user}" class="stretched-link text-primary">User</a>
            </div>
        </div>
        <div class="col-lg-9 bg-light">
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin}">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/admin/add}">New user</a>
                </li>
            </ul>
            <table class="table bg-white">
                <thead class="thead bg-light">
                <tr>
                    <th colspan="8">Add new user</th>
                    <div class="line" style="border-bottom: gainsboro"></div>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>
                        <div class="container">

                            <form class="form-group" th:action="@{/admin/saveUser}" th:object="${user}"
                                  th:method="post">

                                <div class="form row justify-content-center">
                                    <input type="hidden" th:field="${user.id}" name="id"/>
                                </div>
                                <div class="text-center font-weight-bold">
                                <label for="firstName"><b>First name</b></label>
                                </div>
                                <div class="form row justify-content-center">
                                <input th:name="firstName" value="" th:type="text" class="form-control form-control-md w-25" id="firstName"
                                       required/>
                                </div>
                                <br>
                                <div class="text-center font-weight-bold">
                                <label for="lastName"><b>Last name</b></label>
                                </div>
                                <div class="form row justify-content-center">
                                <input th:name="lastName" value="" th:type="text" class="form-control form-control-md w-25" id="lastName"
                                       required/>
                                </div>
                                <br>
                                <div class="text-center font-weight-bold">
                                <label for="age"><b>Age</b></label>
                                </div>
                                <div class="form row justify-content-center">
                                <input th:name="age" value="" th:type="number" class="form-control form-control-md w-25"
                                       id="age"/>
                                </div>
                                <br>
                                <div class="text-center font-weight-bold">
                                <label for="username"><b>Email</b></label>
                                </div>
                                <div class="form row justify-content-center">
                                <input th:name="username" value="" th:type="email" class="form-control form-control-md w-25" id="username"
                                       required/>
                                </div>
                                <br>
                                <div class="text-center font-weight-bold">
                                <label for="password"><b>Password</b></label>
                                </div>
                                <div class="form row justify-content-center">
                                <input th:name="password" value="" th:type="password" class="form-control form-control-md w-25"
                                       id="password" required/>
                                </div>
                                <br>
                                <div class="text-center font-weight-bold">
                                <label for="role"><b>Role</b></label>
                                </div>
                                <div class="form row justify-content-center">
                                <select id="role" th:field="*{roles}" multiple class="form-control form-control-md w-25" size="2" aria-label="size 2 select example">
                                    <option th:each="role:${roles}" th:value="${role.id}" th:text="${role.authority}"/>
                                </select>
                                </div>
                                <br>
                                <button th:type="submit" class="btn btn-success"
                                        value="Add new user">Add new user
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>

<!--    <label> Roles:-->
<!--        <th:block th:each="role: ${roles}">-->
<!--            <input type="checkbox" th:field="*{roles}"-->
<!--                   th:text="${role.name}" th:value="${role.id}"/>-->
<!--        </th:block>-->
<!--    </label>-->

