<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>

<form th:action="@{/admin/saveUser}" th:object="${user}" th:method="post">
    <input type="hidden" th:field="*{id}" name="id"/>
    First Name: <input type="text" th:value="${user.firstName}" name="firstName"/>
    <br><br>
    Last Name: <input type="text" th:value="${user.lastName}" name="lastName"/>
    <br><br>
    Age: <input type="text" th:value="${user.age}" name="age"/>
    <br><br>
    Email: <input type="text" th:value="${user.username}" name="username"/>
    <br><br>
    Password: <input type="text" th:value="${user.password}" name="password"/>
    <br><br>

    <label> Roles:
        <th:block th:each="role: ${roles}">
            <input type="checkbox" th:field="*{roles}"
                   th:text="${role.name}" th:value="${role.id}"/>
        </th:block>
    </label>

    <br><br>
    <input class="button button-block" type="submit" value="OK">
</form>

<br>
<br>
<br>
<form th:action="@{/admin/logout}" th:method="get">
    <input class="button button-block" type="submit" value="Logout"/>
</form>

</body>
</html>